NODE_ENV=development

PORT=3000

POSTGRES_DB=tata_exchange
POSTGRES_USER=tata_admin
POSTGRES_PASSWORD=CHANGE_THIS_PASSWORD
POSTGRES_PORT=5432

DATABASE_URL=postgresql://tata_admin:CHANGE_THIS_PASSWORD@postgres:5432/tata_exchange
